body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  white;
    height: 7.5em;
}
  
li {
    float: left;
    margin: 1.5em .5em 1.5em 10em;
    font-size: 1.25rem;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.houmech1 {
    background-color:#474747 ;
    block-size: 65em;
}

.title {
    margin: 0 0 0 0em;
    font-size: 3.5rem;

}

.date {
    font-size: 1.4rem;
    margin: 0px;
}

.houmechtext {
    color: white;
    text-align: center;
    padding: 5em;
    font-size: 1.75rem;
}

.houmech1 img {
    float: left;
    padding: 50px;
    background-color: #474747;
}


.project-container {
    display: flex;
    column-count: 3;
    column-gap: 5em;
}

.work {
    font-size: 2.2rem;
}

.projdesc {
    font-size: 1.6rem;
}


.houmechdesc {
    background-color: #141322;
    block-size: 65em;
    margin: -1em 0 0 0;
    
}

.houmechdesc text {
    color: white;
}

